<%= form_for(@remainder, url: group_remainders_path, html: { class: "form-horizontal"},  method: :post ) do |f| %>
  <div class="form-group"> 
    <div class="col-sm-12">
      <%= f.text_field :name, :class => "form-control",  placeholder: "Enter Remainder name"%>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-6">
      <%= f.text_field :start_date, :class => "form-control datepicker",  placeholder: "Select Start Date"%>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-6">
      <%= f.text_field :remainder_time, :class => "form-control datetimepicker",  placeholder: "Select Remainder Time"%>
    </div>
    <div class="col-sm-6">
     <%= f.select :schedule_interval,["30","40","50","60","70","80","90","100","110","120","130","140","150"],{prompt:"Select schedule interval in days"},style: "width:200px",class: "form-control"%>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-12">
      <%= f.text_area :message, :class => "form-control",  placeholder: "Enter Message"%>
    </div>
  </div>
  
  <div class="form-group"> 
    <div class="text-center">
      <%= f.submit class: "btn btn-success"%>
    </div>
  </div>
<% end %>

